<h1>Contact has been made!! MWha!</h1>

<p>
   Contact Ruby on Rails Tutorial about the sample app at the
   <a href="http://railstutorial.org/feedback">feedback page</a>.
	  
	Maith agat, Michael! No need to contact me...
	
</p>
